src/flows/Notify_Tourist_about_flight.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>collectValuesFromFlight</name>
        <label>collectValuesFromFlight</label>
        <locationX>662</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>touristNamesTxtVarCollect</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOverFlights.Tourist__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>touristEmailsTxtCollectVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOverFlights.Tourist__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOverFlights</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Notify Tourists about flight {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Tourist about flight</label>
    <loops>
        <name>loopOverFlights</name>
        <label>loopOverFlights</label>
        <locationX>461</locationX>
        <locationY>349</locationY>
        <collectionReference>flightRecordsCollectVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>collectValuesFromFlight</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Output_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getFlight</name>
        <label>getFlight</label>
        <locationX>459</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOverFlights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>initTripIdVar</elementReference>
            </value>
        </filters>
        <object>Flight__c</object>
        <outputReference>flightRecordsCollectVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tourist__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getInitTrip</name>
        <label>getInitTrip</label>
        <locationX>314</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFlight</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInitTripName</elementReference>
            </value>
        </filters>
        <object>Trip__c</object>
        <outputAssignments>
            <assignToReference>initTripIdVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Output_Results</name>
        <label>Output Results</label>
        <locationX>465</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayNames</name>
            <fieldText>&lt;p&gt;{!touristNamesTxtVarCollect}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenInputName</name>
        <label>screenInputName</label>
        <locationX>176</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getInitTrip</targetReference>
        </connector>
        <fields>
            <name>varInitTripName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varInitTripName</elementReference>
            </defaultValue>
            <fieldText>Enter Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screenInputName</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>flightRecordsCollectVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Flight__c</objectType>
    </variables>
    <variables>
        <name>initTripIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>touristEmailsTxtCollectVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>touristIdsCollectVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>touristNamesTxtVarCollect</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
