src/flows/try_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Record_List_For_Update</name>
        <label>Record List For Update</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>RecordsUp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_isActive_true</name>
        <label>set isActive true</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_products.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_List_For_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Active</name>
        <label>is Active</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Loop_over_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>true</defaultConnectorLabel>
        <rules>
            <name>false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_products.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_isActive_true</targetReference>
            </connector>
            <label>false</label>
        </rules>
    </decisions>
    <interviewLabel>try flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>try flow</label>
    <loops>
        <name>Loop_over_products</name>
        <label>Loop over products</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>get_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_products</name>
        <label>get products</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_collection</name>
        <label>Update collection</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>Finish_message</targetReference>
        </connector>
        <inputReference>RecordsUp</inputReference>
    </recordUpdates>
    <screens>
        <name>Finish_message</name>
        <label>Finish message</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;All products have been already delivered&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ToStart</name>
        <label>ToStart</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_products</targetReference>
        </connector>
        <fields>
            <name>Hello</name>
            <fieldText>&lt;p&gt;Let&apos;s go&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ToStart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_For_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RecordForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordsUp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
